/* html {
    height: 100%
}

body {
    background-size: 100% 100%;
    position: absolute;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */